<?xml version="1.0"?>

<launch>
  <arg name="robot_name" default="box2"/>
  <arg name="map_file"   default="$(find orne_box_navigation_executor)/maps/mymap"/>
  <arg name="init_pos_file" default="$(find orne_box_navigation_executor)/config/initial_pose_cfg/initial_pose.yaml"/>
  <arg name="odom_topic" default="odometry/filtered"/>
  <arg name="scan_topic" default="/rfans_scan"/>
  <arg name="cmd_vel" default="cmd_vel"/>
  <arg name="use_prev_wp" default="true"/>
  <arg name="waypoint_config" default="$(find orne_box_navigation_executor)/config/waypoint_server/waypoint_server_block_passing_2d.yaml"/>
  <arg name="reconfig_file" default="$(find waypoint_reconfigure)/config/reconfigure_list.yaml"/>

  <include file="$(find orne_box_navigation_executor)/launch/move_base.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="cmd_vel" value="$(arg cmd_vel)"/>
  </include>

  <include file="$(find emcl2)/launch/emcl2.launch">
    <arg name="scan_topic" value="$(arg scan_topic)"/>
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="initial_pose_x" value="4.0"/>
    <arg name="initial_pose_y" value="-0.2"/>
    <arg name="initial_pose_a" value="0.0"/>
  </include>
  
  <!--include file="$(find orne_box_navigation_executor)/launch/amcl.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="init_pos_file" value="$(arg init_pos_file)"/>
  </include-->

  <include file="$(find orne_box_navigation_executor)/launch/waypoint_server.launch">
    <arg name="config_file" value="$(arg waypoint_config)"/>
  </include>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find orne_box_navigation_executor)/rviz/nav.rviz"/>

  <node pkg="timed_roslaunch" type="timed_roslaunch.sh" 
    args="15 orne_box_navigation_executor start_wp_nav.launch" name="timed_roslaunch1" />

</launch>

